<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo4"
        android:label="여행한잔"
        android:roundIcon="@drawable/applogo4"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeniorTravelGuide"
        tools:targetApi="31">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7491d378e550ec14a3ee3c96fab41252" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="여행한잔"
            android:theme="@style/Theme.SeniorTravelGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>